@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit-based browsers */
}

body{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
  }

.navbar{
 @apply text-dark flex justify-between z-10 bg-grey px-4 py-2 lg:px-28 md:px-20 md:text-lg md:py-6 
}

.navitems{
    @apply absolute flex flex-col top-10 py-4 gap-3 bg-grey w-full left-0 items-center md:static md:flex-row md:w-auto md:gap-12 md:py-0 transform transition-all duration-300 ease-in-out z-10
}

.navitems.close{
    @apply max-md:w-0 max-md:opacity-0
}

.nav-link.active{
    @apply scale-110 border-b-2 border-solid border-dark
}



/* preloader */

:root {
    --color-background: rgb(60, 66, 55);
    --color-foreground: rgb(230, 225, 215);
    --color-accent: rgb(200, 180, 160);
    --font-primary: "Inter", sans-serif;
    --font-secondary: "IBM Plex Mono", monospace;
    --margin: 32px;
    --gutter: 16px;
  }
  
  .preloader {
    margin: 0;
    overflow: hidden;
    background: var(--color-foreground);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
  }
  
  .progress-container {
    width: 300px;
    height: 2px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
  }
  
  .progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: var(--color-background);
  }
  
  .percentage {
    position: fixed;
    bottom: var(--margin);
    right: var(--margin);
    font-weight: 700;
    font-size: 25rem;
    line-height: 0.8;
    color: var(--color-background);
    opacity: 0.1;
  }
  
  .text-container {
    height: 3em;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    width: 200px;
  }
  
  .loading-text {
    font-weight: 300;
    color: var(--color-background);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  
  .loading-text.initial {
    transform: translateY(0);
  }
  
  .loading-text.complete {
    transform: translateY(100%);
  }
  
  .loading-text .char {
    display: inline-block;
  }
  
  /* Add these classes for the stagger animation */
  .preloader-item {
    opacity: 1;
    transform: translateY(0);
  }
  
  .content {
    opacity: 0; /* Ensure content is initially hidden */
    transform: translateY(20px); /* Matches the initial animation state in GSAP */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Fallback for browsers without JS */
  }
  